[2015-09-22 16:19] tiagopog opened #1 "Fix error status code for null messages."

[2015-09-30 20:19] #1 closed

[2016-03-29 13:09] gee-forr opened #4 "NoMethodError when triggering a jsonapi_render_not_found error"
Hi there,

Firstly, thank you for this gem, it makes using JR much easier when dealing with API's more complex than the simple examples in the docs. I really appreciate it.

I'm getting this weird error when triggering a `jsonapi_render_not_found` error. It seems the params hash gets lost somewhere. Anyway, here's the code (it's for a multi-tenant system, which is why I'm searching from the curren

[2016-03-29 21:32] tiagopog commented on #4
Hey there! I do really appreciate your feedback :-)

In order to make sure that I will lead you to the right answer, I would like to know which version of JR and JU you are using in your project.

[2016-03-30 06:22] gee-forr commented on #4
Hey Tiago,

Thanks for getting back to me :), this is straight from my Gemfile.lock

[code]

[2016-03-30 15:08] tiagopog commented on #4
Great! I've caught the bug. I will be merging a hotfix asap.

[2016-03-30 17:43] tiagopog commented on #4
Fixed :-)

[2016-03-30 17:43] #4 closed

[2016-03-31 19:33] gee-forr commented on #4
Awesome sauce!!! Muito obrigado!

[2016-04-11 10:02] mecampbellsoup opened #6 "Add helper/util method for rendering an object's errors?"
It's very common to see a pattern like this in a Rails controller (I'm using `jsonapi-utils` methods in the code):

[code]
Seems like this gem should expose a helper for this type of failed `POST` request, e.g. `jsonapi_render_unprocessable model.errors` which would serve `422` response with a response body listing the reasons why the `model` couldn't be written to the DB.

Not sure what JSONAPI s

[2016-04-12 10:38] mecampbellsoup commented on #6
This would be the relevant part of the JSON API spec to follow when implementing this: http://jsonapi.org/format/#error-objects

@tiagopog what do you think?

[2016-04-13 02:55] tiagopog commented on #6
Sorry for the long delay, @mecampbellsoup. These last days were really tough at work.

Well, initially we did not get focused on error templates, so now it's open for developers to write their own exception classes. Like this one we have in a production project:

*lib/api/v2/exceptions.rb*

[code]

Then when there is a validation error, for instance:

[code]

That will produce the following error

[2016-04-13 04:02] mecampbellsoup commented on #6
@tylermachen some helpful stuff in here regarding our current work on serializing errors in accordance with JSON API spec 😄

@tiagopog Yea, we have been working towards a solution for standardizing this, so we may even be able to just open a PR with said helper in it - give us a little time, but also happy to look at anything you produce in the coming days too 😉

[2016-04-24 15:46] mecampbellsoup commented on #6
@tiagopog I guess such a `json_render_errors` method would generate "standard" error objects in the style of JSON API's examples: http://jsonapi.org/examples/#error-objects-basics

I think I'll revisit this once we've seen how we end up handling API errors. The code you pasted above is looking similar to how we're going to approach it, i.e. catch an exception, instantiate an `Error` object that ha

[2016-04-24 16:04] tiagopog commented on #6
Hey there, @mecampbellsoup. I started working on that feature on this weekend, I really appreciated your feedback and I'm sure it will be a great feature. For now I had to stop this work in order to review our test suite first – I'm turning it into something simpler –, but I may go back to that feature asap.

[2016-05-23 21:56] mecampbellsoup opened #12 "Why does `jsonapi_render` call a method called `setup_request`?"
This makes no sense to me... By the time you want to invoke `jsonapi_render` the request object has been processed and you're formulating the response.

I assume you're doing it to set some context/variables that you share among your util methods, but is there another reason?

This is an example of why this puzzles and frustrates me.

At debugger in controller:

[code]

`jsonapi_serialize` is fine

[2016-05-23 22:10] tiagopog commented on #12
Hi, @mecampbellsoup. The implementation was due to  change of how `jsonapi-resources` deals with the setup of requests. I came across this bug few days ago but I had hard days at work and got no time to take a look on it. Anyway, I'll probably work on a fix today or, at most, tomorrow.

[2016-05-24 22:42] #12 closed

[2016-05-26 20:55] mecampbellsoup opened #14 "@request not getting set properly"
In our application resource controller:

[code]

Calling `#jsonapi_serialize` to check what the issue is:

[code]

[2016-05-26 20:55] mecampbellsoup commented on #14
@tiagopog FYI

[2016-05-26 21:41] tiagopog commented on #14
Weird, since the `@request` instance variable is [set up before the action](https://github.com/b2beauty/jsonapi-utils/blob/master/lib/jsonapi/utils.rb#L9) gets executed. I'll take a look on this later today. Thanks, @mecampbellsoup!

[2016-05-26 21:54] mecampbellsoup commented on #14
@tiagopog it's a Rails 5 `ApplicationController` thing:

[code]

[2016-05-26 22:00] mecampbellsoup commented on #14
@tiagopog and here's another breaking commit:

https://github.com/cerebris/jsonapi-resources/commit/f8dcf8558a1c2d8018a22f74fd0514d0779b5bb9

You need to change `JSONAPI::Request` to `JSONAPI::RequestParser`.

[2016-05-26 22:05] mecampbellsoup commented on #14
This bug ^^ is happening in our codebase because we track master of `jsonapi-resources` gem.

[2016-05-26 22:08] mecampbellsoup commented on #14
@tiagopog further, I think that `helper_method` is only used by non-API Rails apps. We are using `rails-api`, makes sense we don't have `helper_method` exposed in our controllers as such.

[2016-05-27 17:56] tiagopog commented on #14
Since Rails 5 and JR's master are not supported by JU, this issue will be closed and a branch will be created for future support to their breaking changes.

[2016-05-27 17:56] #14 closed

[2016-05-27 22:43] mecampbellsoup commented on #14
@tiagopog Shouldn't `jsonapi-utils` master have `jsonapi-resources` *master* as a dep though?

[2016-05-27 23:11] mecampbellsoup opened #16 "Getting the id from the object instance still not working properly"
[code]

[2016-05-27 23:11] mecampbellsoup commented on #16
@tiagopog usage in our controller:

[code]

[2016-05-27 23:12] mecampbellsoup commented on #16
@tiagopog disregard my previous comment. This is coming from usage of `jsonapi_render_not_found`:

[code]

[2016-05-30 13:48] tiagopog commented on #16
No problem, @mecampbellsoup. Keep me in the loop if anything goes wrong with your tests.

[2016-06-01 15:58] mecampbellsoup commented on #16
@tiagopog why did you close this?

[2016-06-01 16:39] tiagopog commented on #16
@mecampbellsoup I understood that there were no actual errors. If it isn't so, could you please give me more details?

[2016-06-01 16:46] mecampbellsoup commented on #16
See the `got` output in the RSpec output above.

[2016-06-01 16:47] mecampbellsoup commented on #16
It's not grabbing the ID from the request - this was the first "bug" I notified you about when we started working on/with your gem.

[2016-06-01 17:00] tiagopog commented on #16
Well, the gem is far from its v1.0 so bugs may happen along the way. Since it has tests covering the behavior you related in this issue, I would appreciate if you could come with more details of this failing test case, like the request's params.

[2016-06-01 19:14] mecampbellsoup commented on #16
@tiagopog yea no worries, just wanted to keep the issue open for now. I'll try to more info soon, it's hard to tell with master moving for both `jsonapi-resources` and `jsonapi-utils` whether this issue is still happening or not. Gimme' some time on this.

[2016-06-03 01:14] halilim opened #17 "Error codes must be strings"
According to the [spec](http://jsonapi.org/format/#error-objects), `code`s in the [exceptions](https://github.com/b2beauty/jsonapi-utils/blob/master/lib/jsonapi/utils/exceptions.rb) must be strings. Currently generated errors aren't  valid against the [JSON API Schema](http://jsonapi.org/schema). See https://github.com/cerebris/jsonapi-resources/issues/675. An example:
[code]

[2016-06-03 03:49] tiagopog commented on #17
Thanks for the feedback, @halilim. I may come up with a PR in few hours.

[2016-06-06 22:40] #6 closed

[2016-06-06 22:40] #17 closed

[2016-06-06 22:42] tiagopog commented on #16
@mecampbellsoup do you have any news about this issue?

[2016-06-08 21:19] mecampbellsoup opened #19 "Possible to jsonapi_render and pass an `include` option?"
I need to render an `Application` instance (AR::Base inherited) which has associated `users`.

I want to side-load those users, i.e. have them serialized beneath an `included` key, following this type of pattern:
[code]
I tried invoking it as `jsonapi_render json: application, include: ['credentials']` which is [how `jsonapi-resources` does it](https://github.com/cerebris/jsonapi-resources#include

[2016-06-08 22:54] tiagopog commented on #19
@mecampbellsoup it's not possible because when you are using the `jsonapi_(render|format|serialize)` method you don't actually need to pass any additional argument in order to get included the related resources or make things like sort, filter and fields work. JU + JR automatically validate and interpret your request params to generate the response you're expecting. It's all about passing the quer

[2016-06-13 17:18] Azolo opened #20 "jsonapi-resources internal Request API brings breaking change in 0.7.1 betas"
In the [jsonapi-resources version `0.7.1.beta2`][1] there's a breaking change removes the `JSONAPI::Request` class.

Just a heads up because you may want to lock the current version to `0.7.0` in that case.

[1]: https://github.com/cerebris/jsonapi-resources/tree/a3bdbb94c3c4a6ca966f1386ddfc1466f2cfde40/lib/jsonapi

[2016-06-13 22:17] tiagopog commented on #20
@Azolo, this change is already in our radar and may be package in a coming beta version of `jsonapi-utils` with support to the breaking changes from `jsonapi-resources` `0.7.1`. For now, we strongly recommend everyone to keep using "stable" versions of `jsonapi-resources` (preferably `0.7.0`). Thanks for reporting :-)

[2016-06-13 22:20] tiagopog commented on #16
@mecampbellsoup I will close this issue since there is no evidence that the reported bug is happening. Please, let us know if anything goes wrong again.

[2016-06-13 22:20] #16 closed

[2016-06-13 22:21] #19 closed

[2016-07-01 02:00] averydev opened #21 "Inclusion of JSONAPI::Utils in a specific controller obfuscates errors"
Hi there,

Just had a hard time tracking down an issue with an `update` I was doing on an a record.
I included `JSONAPI::Utils` in my controller, and implemented it in my `index` method.

The `update` method was failing in `jsonapi-resources` because an attribute was included in the request that wasn't supposed to be there, so it was failing. However as long as `JSONAPI::Utils` was included, the e

[2016-07-01 03:21] tiagopog commented on #21
Hi @averydev,

Could you please let me know the versions of `jsonapi-resources` and `jsonapi-utis` present in your `Gemfile.lock`. I would also appreciate to know more details about the error case, like an example of a URL + a resource class that would generate such an error.

[2016-07-01 19:20] averydev opened #22 "Doesn't support dasherized keys"
The JSONAPI spec recommends using dasherized keys
http://jsonapi.org/recommendations/#naming

However, that breaks with jsonapi-utils.

  jsonapi-resources 0.7
  jsonapi-utils (~> 0.4.5)

With a request such as this:
[code]

a param method of:
`params.require(:data).require(:attributes).permit(:min_visits, :avg_extra_visits)`

Shows `min-visits` and `avg-extra-visits` as not permitted.

[2016-07-01 19:33] tiagopog commented on #22
Thanks for sharing, @averydev. I'll check what's happening and patch a minor release with the fix as soon as I'm done with my current work.

Uh... is it related to #21?

[2016-07-01 19:46] averydev commented on #22
Hi there @tiagopog fantastic!  I don't believe so, though it's possible.  I wasn't able to get around the dasherized problem to find out. I removed the extraneous item from the request to get that far :)

[2016-07-01 19:58] tiagopog commented on #22
All right, I may come back later with some news. Thanks!

[2016-07-02 17:41] tiagopog commented on #22
Here's the GOTCHA: using dasherized keys won't actually work with the default way of permitting params in Rails' ActionController. In order to avoid you getting stuck with this issue, for now you can access your permitted params by calling `@request.operations.first.data[:attributes]`. Anyway, I may write a better support for this feature – with some helper methods – on this weekend. Hope it helps

[2016-07-04 02:53] tiagopog commented on #21
It was possible to achieve this error case by letting my controller use the `jsonapi-resources`' default `update` action instead of writing my own. The error is due to a double call on `JSONAPI::Request#setup_action` that removes the `id` key from the `params` during its execution. Then when called twice it does not find the `id` within the request's params in the last call.

More details:

The fi

[2016-07-04 14:35] tiagopog commented on #22
Closed in #23

[2016-07-04 14:35] #22 closed

[2016-07-04 14:35] tiagopog commented on #21
Closed in #23

[2016-07-04 14:36] #21 closed

[2016-07-28 23:16] #20 closed

[2016-08-16 16:57] griley opened #25 "Customized resource filters are not applied"
It appears that trying to customize a filter doesn't work.  Given a resource that looks like this:

[code]

Assuming a stock controller and routes, the following request:

`/users?filter[first_name]=Mark`

results in the default filter being applied, not the customized lambda specified.

[2016-08-16 17:41] tiagopog commented on #25
Hey there, @griley!

As you mentioned, `JSON::Utils` only applies equality filters – like the one in the example –  automatically. Unfortunately `JU` doesn't provide any fancy macro to customize filters since it doesn't assume any responsibilities over your controller action's operation.

For example, in our production JSON API, when we need to apply a very specific filter, like filtering records

[2016-08-16 18:36] griley commented on #25
Thanks @tiagopog .  I agree with the decision to make the filters explicit.

However, the problem I'm running into (and the origin of the issue above) is that the _default_ equality filter is still scoped to any custom filtering I may do in a controller.

For example:
[code]

[code]

When `filtered_users` is run above, the scope implied by the filter in `UserResource` is also applied to it. Result

[2016-08-16 18:40] griley commented on #25
I guess I could `unscope(where: :full_name)` in `filtered_users` but that smells a bit to me.

[2016-08-16 18:47] tiagopog commented on #25
Ok, now I gotcha!  In this case you might simply skip the default equality filter: ``` jsonapi_render json: filtered_users, options: { filter: false }```

[2016-08-16 19:03] tiagopog commented on #25
You might apply the same to pagination (`options: { paginate: false }`). I'm sorry for the lack of documentation for this feature. I may write something covering this case in the `README.md` later.

[2016-08-16 19:06] griley commented on #25
Thanks for the quick response @tiagopog and pointers!

The `jsonapi_render json: filtered_users, options: { filter: false }` addressed my issue.

[2016-08-16 19:06] #25 closed

[2016-08-18 20:32] griley commented on #25
I finally realized why Tiago suggested setting a pagination option after I enabled the pagination feature in the initializer:

[code]

The record count information applies the same default filter to it.  But even after adding the `paginate: false` option, it continued to occur.  I sniffed around the code a little bit and instead tried to add my own custom record count:
[code]

However, this [line

[2016-08-18 20:46] tiagopog commented on #25
@griley, thanks for reporting it. I may take a look on this possible bug later as well as I'll try to remember if there was any particular motivation behind this line of code.

[2016-08-18 21:08] griley commented on #25
On a side note...

If the `options` weren't reinitialized, the `apply_filters(records, options)` found [here](https://github.com/b2beauty/jsonapi-utils/blob/v0.5.0.beta1/lib/jsonapi/utils/support/pagination.rb#L69) would calculate the record count correctly because of the `filter: false`

This would obviate the need for a `count` option in this issue.

Thanks,  and good luck on Sunday in the footb

[2016-08-30 15:41] yellow5 opened #28 "Should implementers always define controller actions?"
_This is a question/confirmation issue and not a bug/code flaw issue._

When using JSONAPI::Utils, are the controller actions expected to explicitly be defined?

When mixing in JSONAPI::Utils, [we also get the JSONAPI::ActsAsResourceController module](https://github.com/b2beauty/jsonapi-utils/blob/master/lib/jsonapi/utils.rb#L13) and its behavior. [Within that module](https://github.com/cerebris/j

[2016-09-01 17:03] tiagopog commented on #28
`JSONAPI::Utils` takes only advantage of the `JSONAPI::Resources`' resource layer for proper serialization and in order to use some of its APIs to validate requests against the resource definitions.

With `JSONAPI::Utils` it's recommended to write your actions and its inner operations (service objects, interactors etc) explicitly – rather than taking them into resources – so that you improve the e

[2016-09-01 19:18] yellow5 commented on #28
Trying to prevent the double parsing definitely has some challenges. `JSONAPI::Utils` has to consider how forceful to participate in preventing the risk with how tightly to couple with the `JSONAPI::Resources` library. Hopefully this can help you determine a path forward. 😄

Here are some options that take different approaches with `JSONAPI::Utils` lib's involvement with prevention during implemen

[2016-09-01 20:02] tiagopog commented on #28
Good list, @yellow5! As the gem's approach is to stay as a layer on top of JR, it seems reasonable to go for a combination of the points **1** and **2** :-)

[2016-09-02 19:10] austenito opened #30 "Add support for custom paginators"
Hello, it looks like custom paginators aren't supported as `JSONAPI::Utils::Support::Pagination` looks explicitly for Page and Offset paginators. I'm using version 0.4.6.

Here are the links to the code:

https://github.com/b2beauty/jsonapi-utils/blob/master/lib/jsonapi/utils/support/pagination.rb#L47

and

https://github.com/b2beauty/jsonapi-utils/blob/master/lib/jsonapi/utils/support/pagination.

[2016-09-03 18:10] tiagopog commented on #30
Hey there, @austenito! As you pointed, `JSONAPI::Utils` still doesn't support  neither custom paginators nor pagination strategy per resource; as well as there's a lack of support for cursor-based pagination strategy.

Now I'm [implementing a better support for custom filters](https://github.com/b2beauty/jsonapi-utils/pull/27) and I will probably do some refactoring on `JSONAPI::Utils::Support::Pa

[2016-09-03 18:15] austenito commented on #30
@tiagopog I'll give it a shot!

Also, I believe cursor pagination was removed https://github.com/cerebris/jsonapi-resources/issues/301

[2016-09-04 18:58] tiagopog commented on #30
Indeed it was removed in JR, but since there's a growing adoption of some databases with cursor-based pagination (e.g. Google Cloud Datastore) it would be nice to bring a paginator that supports it.

You could start by implementing the support for custom paginator and later we could think on a proper way to deal with cursos.

[2016-09-09 20:22] anothermh opened #31 "0.5.0.beta2 not on rubygems"
README says to use `gem 'jsonapi-utils', '0.5.0.beta2'` but beta2 is not yet released to rubygems. Only beta1 is available.

[2016-09-10 15:04] tiagopog commented on #31
Sorry, @anothermh, it was my fault to let it go to the `README`. I still did not tag and release this new version of the gem because changes in the PR #27 will be packed along with the current changes on `master`. For now I'm going to fix the README, but `v0.5.0.beta2` might be released soon. Thanks!

[2016-09-11 21:53] ringvold opened #32 "undefined local variable or method context"
When I'm including  `JSONAPI::Utils` in my base controller I get an error:

[code]

It seems like the variable `context` on [line 13 in setup_request in JSONAPI::Utils:Request](https://github.com/b2beauty/jsonapi-utils/blob/d3a66311cf756968ee27fd3ea2da1016a4d68935/lib/jsonapi/utils/request.rb#L13) does not exist. I'm not sure where `context` should come from. I thought is might be because i used A

[2016-09-13 05:25] #31 closed

[2016-09-13 05:26] tiagopog commented on #30
👀 #27

[2016-09-13 05:28] tiagopog commented on #30
Just took a free time tonight to refactor the module `JSONAPI::Utils::Support::Pagination`. Hope it helps you.

[2016-09-13 14:47] tiagopog commented on #32
@ringvold, are you installing the 'jsonapi-resources' gem in separate or are you using the built-in from `jsonapi-utils`? If possible, could you share your `Gemfile.lock`?

[2016-09-14 14:40] austenito commented on #30
@tiagopog nice refactor :)

One of the things I've been thinking about is how to handle the pagination via ranges since custom paginators handle ranges differently. For example:

[code]

I was thinking about delegating to each paginator to return the appropriate range. Anyways, I hope to get a branch up soon for you 👀  at :)

[2016-09-14 15:49] tiagopog commented on #30
Delegate this kinda job to paginators would be the ideal scenario, the thing is: `JSONAPI::Resources` doesn't support rendering Array of Hashes – the use case where range is used for pagination – then we should open the default paginator classes or stuff to add this behavior. I'm avoiding to monkey patch things as much as I can, so that I prefered to write this method rather than changing a few ob

[2016-09-15 23:38] jayfredlund opened #33 "Update to use jsonapi-resources 0.8.0"
Hi @tiagopog,

Thanks for maintaining this gem.  I've forked a copy and changed the gem to use version jsonapi-resources version 0.8.0 final, which was released today.

Separately, I've removed the dependency for piped_ruby, which (it appears) you added into beta2, and is why I haven't proposed my fork back into yours.  I'm not sure why the dependency was added, and I can't find any discussion abo

[2016-09-16 01:27] tiagopog commented on #33
Hi @jayfredlund,

Piped Ruby brings some facilities when it comes to represent data transformation in code. See the [code snippet](https://github.com/tiagopog/jsonapi-utils/blob/master/lib/jsonapi/utils/response/formatters.rb#L60) where it's applied.

It's a really tiny gem and I was willing to use it in order to refactor some parts of the code where its use makes sense.

I'm open to different vie

[2016-09-16 01:36] tiagopog commented on #32
Any news about this issue?

[2016-09-16 08:43] ringvold commented on #32
Sorry. I haven't had time to look into this.
I used `jsonapi-resources` standalone before using `jsonapi-utils`. But when I installed `jsonapi-utils` I checked that the versions where the same.
I'll share my `Gemfile.lock` later today.

[2016-09-16 21:30] tiagopog commented on #32
No problem. It might be related to some incompatibility between the versions of JU and JR, but I can only be sure after seeing your `Gemfile.lock`.

[2016-09-19 20:09] #33 closed

[2016-09-21 22:17] ringvold commented on #32
Gemfile.lock
[code]

[2016-09-27 14:07] chrisdpeters commented on #19
@tiagopog [This comment](https://github.com/cerebris/jsonapi-resources/issues/389#issuecomment-135782835) pulls a relevant quote from the JSON API spec:

I really like the gist of what [this other comment](https://github.com/cerebris/jsonapi-resources/issues/389#issuecomment-176303658) is suggesting.

When I try something like this, it doesn't include the related record though:

[code]

Is this so

[2016-09-29 03:46] tiagopog commented on #19
@chrisdpeters up to now JU does not support a default value for the include query string param, but I'm willing to do such implementation for the v0.5.0 milestone. We could open a new thread and start a further discussion about the feature's details. What do you think?

[2016-09-29 13:28] chrisdpeters commented on #32
I was getting a very similar error about `key_formatter` from that same method (`setup_request`) in my Rails 4.2.7.1 app. Upgrading to `0.5.0.beta3` fixed it for me. So it seems like there is something missing from `JSONAPI::Utils` in v0.4.6 after including it in the controller.

[2016-09-29 13:32] chrisdpeters opened #36 "Ability to hard-code an `include` query string value"
This is a new issue spawned from discussion in #19.

Honestly, I've just started using this gem and don't know any details about its internals. So I'm not quite sure where to start in recommending how it should work. Would it be an option passed to `jsonapi_render`?

From the spec, it seems that we should encourage only overriding the `include` value if none is already provided in the query string

[2016-09-29 13:33] chrisdpeters commented on #19
@tiagopog 👍  Opened a new issue: #36.

[2016-09-30 04:35] tiagopog commented on #36
Hey, @chrisdpeters! Thanks for bringing up this discussion since [this thread](https://github.com/cerebris/jsonapi-resources/issues/389) clearly show us a lack of implementation for such feature in the JR's side.

IMHO we would go for a resource-based approach, since resources' settings are responsible to let JU and JR know what needs to be selected, included, filtered, ordered etc. With a macro l

[2016-09-30 12:42] chrisdpeters commented on #36
@tiagopog In the case of my application, I think the knowledge of what to include exists in the controller. The pattern that I'm seeking is for certain endpoints to auto-include a related record on `create`, `update`, and `destroy`. I don't need it on `index` or `show`.

The main rationale is with drafts that are saved on those actions, and it's helpful to return that info along with the save beca

[2016-10-03 12:44] chrisdpeters commented on #36
@tiagopog It looks like perhaps this pattern is going to be hard for me to work with. I'll probably need to suck it up and require that the `include` query string be provided along with the requests that I'm talking about above.

[2016-10-03 13:38] tiagopog commented on #36
@chrisdpeters here at the company we do just like the way you mentioned previously, I mean, clients require explicitly what they want to include along with the main resource, even for POST/PUT/PATCH request. If we decide to implement a macro like that `default_include` idea, the idiom `default_include :resource, only: actions` looks good to me.

[2016-10-06 02:07] chrisdpeters opened #38 "Format of error object"
While poking around with this gem, I noticed the error formatter provides this sort of response:

[code]

I've seen the format prescribed like so in [examples](http://jsonapi.org/examples/#error-objects):

[code]

Also, I noticed that [according to the spec](http://jsonapi.org/format/#error-objects), `title` may not be used properly as this gem currently stands because it is displaying an error me

[2016-10-06 02:17] chrisdpeters opened #39 "Filter keys not being passed to the model in the correct format"
A simple example resource with filterable multi-word attribute:

[code]

And a contrived spec that attempts to use the attribute:

[code]

The response ends up including an error that indicates that the filter isn't being translated back to underscored before being passed to the model:

[code]

I have these configurations in place:

[code]

[2016-10-06 04:58] tiagopog commented on #38
Hey there!

Well, I guess there's a little misunderstanding due to the spec's similarity of `title` and `detail`. In the spec we can see that `title` is more generic – and how generic it is seems to be open for discussion – while the `detail` member brings something specific to that error case.

I guess this password error example, [taken from the specs](http://jsonapi.org/examples/#error-objects-

[2016-10-06 05:29] tiagopog commented on #38
IMHO, there's nothing to fix on `title` since it's compliant to the specs you mentioned. However, this issue brought up some ideas:

- We could implement the `source` member only for AR's validation errors since a more generic implementation might be quite complex in terms of inferring the path for a given context;
- Improve de `README` docs for `jsonapi_render_errors` since this method support cu

[2016-10-06 05:33] tiagopog commented on #39
Weird but I will surely check. Thanks!

[2016-10-06 07:26] gee-forr commented on #39
Have the same issue. Happy to help out with extra data if you need it.

[2016-10-06 12:49] chrisdpeters commented on #38
Sounds like a good plan. That helps clarify how I understand `title`, so thank you.

I think I was mainly thrown off by the lack of `source.pointer`. It would be nice to move that from `id` to `source.pointer` for ActiveRecord, like you suggest.

[2016-10-09 23:10] tiagopog commented on #39
Just checked that the reported bug is indeed happening. I may come back with a fix tomorrow (probably). Thanks for reporting :-)

[2016-10-14 04:56] #39 closed

[2016-10-14 05:04] #30 closed

[2016-10-14 05:14] tiagopog commented on #39
`v0.5.0.beta4` has just released. I may work on a fix for `v0.4.x` later today.

[2016-10-15 05:34] chrisdpeters commented on #38
@tiagopog I'm 95% of the way on the JSON pointer thing: liveeditor/jsonapi-utils@71dec55fce7a511353c90efe22cec3113ca17d6a

Problem: the error keys are not formatted according to the `json_key_format` setting. Where do you think I should handle that? Perhaps in `JSONAPI::Utils::Reponse::Formatters`? Any suggestions as to how I would go about doing that?

[2016-10-15 17:04] tiagopog commented on #38
Nice, I will take a look and come back with some ideas.

[2016-10-15 17:30] tiagopog commented on #38
I saw that you applied the key formatting at the exception class level and I think that's the right place to put such logic 👍

[2016-10-18 10:42] MrBananane opened #43 "Error 500 when request wants to sort by non database resident attribute"
To clarify:

[code]

[code]

The request was : _http://localhost:3000/users?sort=fullName_

[2016-10-18 12:55] MrBananane commented on #43
Found the solution in JSONAPI::Resources Gem:
[code]

Sorry to have bothered you !

[2016-10-18 12:55] #43 closed

[2016-10-18 15:34] tiagopog commented on #43
👍

[2016-10-19 03:18] chrisdpeters commented on #36
In terms of my interests for my current project, this feature is a very low priority. I think that providing the `include` query param along with the create/update/delete will be sufficient.

[2016-10-19 03:54] #38 closed

[2016-12-16 01:12] delner opened #44 "Adding JSONAPI::Utils to controller causes PATCH operations to malfunction"
_Affects jsonapi-utils `0.5.0.beta4`, jsonapi-resources `0.8.1` and Rails `5.0.0.1`._

Given a model `SampleModel`:

[code]

And a resource `SampleModelResource`:

[code]

With controllers:

[code]

And routes:

[code]

And a controller spec that performs a patch operation:

[code]

Running PATCH raises a `400 Bad Request`, which manifests as:

[code]

I dug deeper, and what I found was that `JSON

[2016-12-16 15:42] tiagopog commented on #44
Thanks for reporting, @delner.

As you pointed, since it works with a duplicated `params` object when instantiating `JSONAPI::RequestHelper`, the described error was not supposed to be happening. Anyway, I may try to figure out the buggy code late today and get back with more clarification.

[2016-12-16 16:43] delner commented on #44
Okay. From what I understand, `dup` does not deep copy references, so when `JSONAPI::RequestHelper` uses the `dup`ed `ActionController::Parameters` object, and deletes the ID, it modifies the original reference too. (At least, that's the theory right now.)

Let me know what you find, or if I can be of any help!

[2016-12-17 01:39] tiagopog commented on #44
Hey, @delner! Sorry for the delay, I had a pretty busy friday.

Well, taking a quick look now I just realized that the sample controller code is missing its actions so that JR applies its default [update operation](https://github.com/cerebris/jsonapi-resources/blob/master/lib/jsonapi/acts_as_resource_controller.rb#L44). That's why the request is being [processed twice](https://github.com/cerebris/

[2016-12-17 01:47] tiagopog commented on #44
Well, instead of enforcing developers to write their operations in controllers we may let it optional. I'll really give it a thought.

[2016-12-17 01:58] tiagopog commented on #32
Since there's no further reports about this issue I will consider it closed.

[2016-12-17 01:58] #32 closed

[2016-12-17 02:02] tiagopog commented on #44
There's also a similar open issue [here](https://github.com/tiagopog/jsonapi-utils/issues/28). So I think it's really relevant to bring up some "fix" now.

[2016-12-17 17:54] delner commented on #44
Hmmm, I'm not really a fan of the having to write my own `update` action. The whole point of using JSON API Resources was to use default, standard endpoints without writing a lot of repetitive code. Having to manually write this in the controller, although it being a work around for the reported issue, does add the risk of introducing bugs, too.

[2016-12-17 21:17] tiagopog commented on #44
Yeah, @delner. I had a thought on it yesterday and, yes, it's a good idea not to enforce developers to write their own definition of default actions. This way the gem will keep as transparent as possible avoiding any additional learning curve in order to make things work.

Yesterday, while working on #45, I considered three ways to fix that buggy behavior with `params`:

**1\. Make a deep copy of

[2016-12-26 14:38] #28 closed

[2016-12-26 14:39] tiagopog commented on #44
Fixed in #45

[2016-12-26 14:39] #44 closed

[2017-01-16 16:36] tiagopog commented on #36
Since the macro proposed here (`default_include`) is strongly related to the JR's resource layer – and JU is focused on helpers for controllers – I think this implementation is more suitable to the JR's codebase.

[2017-01-16 16:36] #36 closed

[2017-01-20 13:26] ruslankhaertdinov opened #47 "Custom filters list applies only first filter"
Looks like in current implementation (ver. 0.5.0) only first filter from the `custom_filters` list added to the `@_allowed_custom_filters`. In this method `elsif` condition doesn't work properly.
[code]

[2017-01-20 13:30] ruslankhaertdinov commented on #47
@tiagopog Hi! Thanks a lot for so useful gem, and please take a look to this issue and related PR.
Thanks

[2017-01-20 15:05] tiagopog commented on #47
You're right, it seems like there's a missing `!` in the expression `@_allowed_custom_filters.include?(attr)`. I'll take a look at the PR asap.

[2017-01-20 15:07] #47 closed

[2017-01-23 09:41] peco8 opened #49 "Primary Key: uuid"
I've been using  [json-api resource]('https://github.com/cerebris/jsonapi-resources') and want to move on to this library.

However I just wonder if I could use `uuid` instead of `id` for resource sometimes.

In json-api resource, we can do something like:

[code]

I wonder if I could do the same thing in jsonapi-utils.

[2017-01-23 15:36] TrevorHinesley commented on #49
As far as I can tell, this still uses JR's resources library, so that should be fine.

[2017-01-24 02:03] tiagopog commented on #49
Yeah, @peco8, it should work normally. As @TrevorHinesley pointed, JU is just a layer over JR that provides a set of useful helpers (e.g. its renders and formatters) in order to ease the way JSON APIs are built on Rails.

Sorry for the delay in replying, I had a really busy day today. Anyway, feel free to come with other questions, I'll try to answer as soon as I can.

[2017-01-24 02:03] #49 closed, assigned to nobody

[2017-01-27 05:58] peco8 opened #50 "Pagination for each resources"
First off, this gem is pretty awesome!

This is not an issue but I just wonder about the pagination.

I know we can define the default pagination, but could I set the pagination for each models/resources?
Should I use library [kaminari](https://github.com/kaminari/kaminari) or something?

[2017-01-27 14:44] tiagopog commented on #50
Hey there, @peco8!

You mean to set the pagination's config (`default_page_size` and `maximum_page_size`) for each resource?

If so, it's not natively supported by JU nor JR (as far as I know), but there's a workaround: you can [create custom paginators](https://github.com/tiagopog/jsonapi-utils#paginators) and then encapsulate there the needed logic for each resource.

For example, say you want t

[2017-01-27 14:44] tiagopog commented on #50
I will hopefully add this to the `README` as soon as a I get some free time :-)

[2017-01-27 14:47] peco8 commented on #50
@tiagopog
Thanks for the quick response even you seem pretty busy busy!
I'll try that out sometime soon :)

[2017-01-27 14:47] #50 closed

[2017-01-27 14:50] tiagopog commented on #50
Cheers!

[2017-01-27 15:59] peco8 opened #51 "Param not allowed"
Hi!

I've been struggling to pass attributes when I migrate JU from JR.
[code]
I could turn this `config.raise_if_parameters_not_allowed = true`  into `false`, however I still see some error within meta.

Could you suggest how I could work this around?
Maybe `resource_params` checks `stripe_plan_id` and raise an error somehow so that it can not reach the endpoint `#create`.

[code]

[code]

[2017-01-27 16:38] tiagopog commented on #51
Hey there!

Well, I see that the`Api::V1::PlanResource` is declared as `immutable`, it will be treated then as a read-only resource. I suppose it may be the source of the error, since it may affect the resource's creatable fields list (not sure about that, JR's stuff) which, in turn, will be [used to validate the params](https://github.com/cerebris/jsonapi-resources/blob/d9fdcb3fcdd2b5c39722e6d772

[2017-01-27 16:42] tiagopog commented on #51
Tip:

[code]

[2017-01-27 16:44] peco8 commented on #51
I tested out
[code]
`stripe_plan_id` is creatable fields..  😭

[2017-01-27 16:55] peco8 commented on #51
Maybe I found out.
I used to use `jsonapi-resources (0.8.0)`, but this library brought me `jsonapi-resources (0.7.0)`.

[2017-01-27 17:33] tiagopog commented on #51
It should be working fine for those versions you're using. I will try to take a deeper look later.

[2017-01-27 19:33] TrevorHinesley commented on #51
I'm also seeing this and I'm using jsonapi-utils 0.5.1 with jsonapi-resources 0.8.3

[2017-01-28 05:38] tiagopog commented on #51
@peco8, @TrevorHinesley:

I decided to investigate this case a little bit further and I figured out that the error is occurring due to the configuration of the key formatter that's being used.

Say we have this `PostResource` with the `user_id` attribute:

[code]

When the request is parsed – using the JR's `JSONAPI::Request` or `JSONAPI::RequestParser` – it [formats](https://github.com/cerebris/j

[2017-01-28 10:24] peco8 commented on #51
@tiagopog

Hey, sorry for the late reply.
That works! Thank you so much!! 🎉

Actually, I found that I set up the `config.json_key_format = :underscored_key` when I used jsonapi-resources. (I forgot doing this because I set up long time ago..)

I think this is worth to mention in `README.md` for those who want to move from jsonapi-resources. :bowtie:

I'll close this issue! yay!

[2017-01-28 10:25] #51 closed

[2017-01-29 03:15] peco8 opened #53 "One To One Relation; relation_link is broken"
Hi !!
I have one to one relation between model such as
[code]

So that I could define resources like,
[code]

And then when I send the request to
`http://localhost:3000/plans/1/relationships/subscription`.
I can see the errors below;
[code]

When I used to use JR the result is following:
[code]
Maybe the controller is not generated automatically? or  I've been missing something?

![screen shot 201

[2017-01-30 02:19] tiagopog commented on #53
Hey there!

Well, as far as I can see it isn't touching JU actually, so I suppose you are probably using the default relationship action provided by JR in your plan controller, right?

Taking a look at the data and the stack trace you provided, it seems that  [JR doesn't find the  `subscription_id` method  and then it tries to define/call it in the model of your plan resource](https://github.com/c

[2017-01-30 03:06] peco8 commented on #53
Hi tiagopog,

Thanks for the reply!
I checked what I edited so far but nothing really changed so far.

Then I checked my `json-api-resources` version. It downgraded from `v0.8.0` to  `v0.7.0` with JU.
I literally swapped the version to `v0.7.0` current development branch using JR, and same errors happened.

As you mentioned before, `v0.7.0` and `v0.8.0` seems to be changed a lot.
`v0.7.0`  => http

[2017-02-22 16:09] tiagopog commented on #53
Hey there, @peco8! Are you still experiencing such a problem? If you've fixed it can you please provide a resolution of the error?

I've been going through very busy days lately and since it seems the problem is not related to JU I ended up not giving much attention to this issue, but I'd really like to know how/if you've solved it.

Cheers!

[2017-03-12 19:42] tiagopog commented on #53
Closed by #54

[2017-03-12 19:42] #53 closed

[2017-03-20 17:25] ruslankhaertdinov opened #56 "Validation error messages not fully translated in response (I18n)"
I have object with validation error. It correctly translated with I18n:
[code]
Translated as `Camera doesn't have coordindates` in `:en` locale.

But in request I got partly translated  response:
[code]
Where validation message is not fully translated: `Camera` word not translated, but rest of message translated.

[2017-03-20 17:41] tiagopog commented on #56
Nice catch, @ruslankhaertdinov!

Can you also provide a spec to the context "when validation fails with a locale other than :en" after the spec for the [context 'when validation fails with a formatted attribute key'](https://github.com/tiagopog/jsonapi-utils/blob/master/spec/controllers/posts_controller_spec.rb#L300)?

Thanks for contributing :-)

[2017-03-20 17:41] ruslankhaertdinov commented on #56
Sure

[2017-03-20 17:43] tiagopog commented on #56
I just re-commented at the PR, I think it's more appropriated there 👍

[2017-03-20 18:37] tiagopog commented on #56
Closed by #57

[2017-03-20 18:37] #56 closed

[2017-04-18 04:31] adambedford opened #59 "Support for JSONAPI::Resources 0.10"
I'd love to use this library in conjunction with the latest version of JSONAPI::Resources. There are a number of breaking changes from what I can see, particularly with the removal of `JSONAPI::OperationResults`.

I'm new to this library and `JSONAPI::Resources` so I don't think I have the context yet to get this up and running myself so I wanted to open a ticket to see if it's on anyone else's ra

[2017-04-18 12:43] tiagopog commented on #59
Hey there!

I see that [JR's version was updated](https://github.com/cerebris/jsonapi-resources/blob/master/lib/jsonapi/resources/version.rb#L3) recently, but [there's no official release](https://github.com/cerebris/jsonapi-resources/releases) yet.

`JSONAPI::Utils` heads to keep supporting the latest "stable" versions from `JSONAPI::Resources`, so maybe when they launch a `v0.10.0.beta` we may s

[2017-04-20 16:57] derekcannon opened #60 "Setting the type of a resource"
Maybe I'm not understanding how jsonapi-utils/jsonapi-resource works, but I have a `OrderResource` and a `OrderListResource` (which is a simplified version of `OrderResource`). I am trying to render `OrderListResource`, but have the `type` value be `order`. Currently, it's setting it to `order_list`. Here's the render statement:

`jsonapi_render json: Order.last(2), options: { resource: Api::V2::O

[2017-04-20 18:32] #60 closed

[2017-04-20 18:52] tiagopog commented on #60
☝️  That's the answer I would bring up to you, as you mentioned it fixes the issue but I'm also not sure whether it's the proper of doing so. Unfortunately JR's doc/[issues](https://github.com/cerebris/jsonapi-resources/issues/618) are not clear around this case.

[2017-04-24 19:46] derekcannon opened #61 "Updating a relationship?"
When I add `jsonapi_resources :foo` to routes.rb, given I have a `FooResource` and a `BarResource` where `FooResource` `has_one` `Bar`, I get additional routes like `api/v2/foo/:foo_id/relationships/bar`. I notice that the route created references a method called `update_relationship`.

However, I could not find any examples of what an update would look like using this methodology. According to JS

[2017-04-25 02:52] tiagopog commented on #61
Hey there, @derekcannon!

As you've noticed `jsonapi_resource` draws routes based on what is specified by `json:api`, dealing only with [resource identifier objects](http://jsonapi.org/format/#document-resource-identifier-objects) (i.e. "data" contains only "type" and "id"). `JSONAPI::Resources` provides then the [action method](https://github.com/cerebris/jsonapi-resources/blob/master/lib/jsonapi

[2017-04-27 03:45] derekcannon commented on #61
Thanks

[2017-04-27 03:45] #61 closed

[2017-05-22 12:42] oryansimplee opened #63 "Hide relationships links"
Hi,
I would like to hide the relationship links from the response, while still displaying the included data of the related resources (using the include parameter).
Is that possible with the gem, or with some work-around?

Thank you!

[2017-05-23 02:56] tiagopog commented on #63
Hey there, @oryansimplee!

You can achieve this by simply adding the `fields` query string parameter to your request's URL:

[code]

As far as I know/remember that's the only way of doing such a thing right now. I hope this helps you.

[2017-05-23 02:56] #63 closed

[2017-06-02 04:08] adambedford opened #64 "Possible to render a record that hasn't been persisted?"
One of my endpoints needs to just build a record and return the attributes, rather than persisting it. When using `jsonapi_render` with the unsaved model, all I get on the frontend is `{ "data": null }`.

Is there a way to do this or is it by design?

[2017-06-03 05:16] tiagopog commented on #64
Sure, the thing is: in order to keep compliant with JSON API's specs you still need to generate the identifier for that resource otherwise a body like `{ "data": null }` will be rendered.

Quick example:

[code]

Then when this endpoint is called we got the following response:

[code]

[2017-06-05 14:56] #64 closed

[2017-06-07 11:00] guy-simplee opened #65 "Pagination of a nested resource, without using active record"
Hi,
In our project, we are using JU for our API, currently only for get calls.
We have had some difficulties since we do not have direct access to our models in the API project, meaning we only have resources and controllers, and we are retrieving the data manually in the controller actions, into a hash which we then pass to jsonapi_format and render.

Specifically with pagination, what happens is

[2017-06-12 08:21] guy-simplee commented on #65
Update: In the end we found that solving it by a different method would require a lot of overriding of the JR methods, which was too much overhead so we simply manipulated the response before rendering, to display the correct link.

[2017-06-12 14:30] tiagopog commented on #65
Sorry for not answering in time, @guy-simplee. I went through hard days last week, but as soon as I get some free time, I'll check this issue in order to try taking some insights of improvement from it.

[2017-06-22 00:05] supremebeing7 opened #66 "Support abstract interfaces instead of specific ActiveRecord objects in Formatters"
This is in reference to v0.6.0.

I use [active_interaction](https://github.com/orgsync/active_interaction) for services in lots of my projects, and recently started using this gem to enforce JSONAPI spec more easily.

When I have an `ActiveInteraction` instance - `interaction` - and pass it into `jsonapi_render_errors json: interaction` in my controller, I get `TypeError: no implicit conversion of

[2017-06-22 00:08] supremebeing7 commented on #66
I'd be glad to try to make this change, but wanted to make sure this was something you'd support first. I also may need some guidance as I go. If you're good with the idea, I can put some time into a plan of action before starting any real code.

[2017-06-23 04:53] tiagopog commented on #66
Well, for this feature in specific I think we'd rather to avoid another duck typing since all error objects are already expected to quack the `#errors` method. Thus, to diff the AR or equivalent objects from other ones – in order to use the helper sugar and pass only the object itself (`jsonapi_render_errors @user`) – could be quite tricky and maybe lead to unexpected behavior.

I see the utility

[2017-06-23 13:41] supremebeing7 commented on #66
I understand the concern about possible unintended behavior. I'll tinker
with the alternatives you mentioned and see if I can make those work.

Thanks.

On Jun 22, 2017 9:53 PM, "Tiago Guedes" <notifications@github.com> wrote:

[2017-06-23 13:56] tiagopog commented on #66
Thanks for the feedback, @supremebeing7. It seems to me that there's a lack of documentation for this kind of use case at `README.md`, then I'll keep this issue open until it gets better examples for rendering error objects.

[2017-06-23 15:21] supremebeing7 commented on #66
OK, so this does work:
[code]
The unfortunate thing is that we use these `interaction` objects all over our code, so we'd have to do this everywhere. I can write a helper method to do it, but it's still extra mental gymnastics for me or others on this project to remember to call it that way. The same would be the case if using the other approach (custom exception class) you mentioned.

Anyway, I'l

[2017-06-23 19:31] supremebeing7 commented on #66
So far, the only way I've been able to get around this is just by reopening the module and overwriting the `jsonapi_format_errors` method:
[code]
not ideal, because it muddies our upgrade path when this gem is updated, but it works and it doesn't require any additional code in the controllers.

Beyond adding code to the gem to work with another Exception like this, I don't really see a better way.

[2017-06-23 20:11] tiagopog commented on #66
Actually, with your last comment in mind, there's something we could work around: what about to configure (white list) the error classes the helper should work by default?

For example, having such config:

[code]
 We could apply the following check:

[code]

Then within the formatter:

[code]

What do you think? Would you be interested to bring this feature to the gem?

[2017-06-23 22:08] supremebeing7 commented on #66
Yeah I think that would work really well. Thanks for the discussion and idea.

I'll try to get something pushed and make a pull request over the weekend.

[2017-07-01 11:34] Immaloserbigtime commented on #60
I sure hope this isn't what I think it is. Jeremy?
Jones need to speak with you.

[2017-07-01 21:41] tiagopog commented on #60
🤔

[2017-07-28 14:01] daniffig opened #73 "How can we use custom filters?"
I'm having some trouble while filtering. I need my resource to be filtered by its name using a LIKE query (autocomplete field). If I implement JSONAPI::Resources approach, using a lambda, it doesn't work, the lambda it's not called. JSONAPI::Utils provides a custom_filters method, which allows me to apply the filter in the controller, but I don't think that is the best solution. Am I missing somet

[2017-08-01 12:32] tiagopog commented on #73
Hi there, @daniffig. Sorry for the long late on answering you. I'm having some pretty busy days here, but I'll try to be quicker.

Yes, `custom_filter(s)` are present in the gem but it's an unofficial  feature because a proper set of specs and documentation are still lacking. It's working well though.

As you mentioned, `custom_filter` allows you to enter a filter via controller but it will skip a

[2017-08-02 12:44] daniffig commented on #73
I'm using it as you explained and it works great. However, IMO it would be better if we hooked the custom filters to the filter chain, so they can be resolved by the resource, just as JR proposes.

So we could code something like this.

`# app/resources/user_resource.rb
class UserResource < JSON::Resource
  attributes :first_name, :last_name
  custom_filter :name

  def self.name(records, value, _

[2017-08-03 12:12] tiagopog commented on #73
For now JU doesn't push a design pattern for achieving such a feature, thus letting devs to put their logic where they think it's better (i.e. service object, interactor or even controllers).

The initial idea of using the resource layer from JR was to take advantage of its internal DSL only for describing the resource's properties like its attributes, relationships, filters and for some serializa

[2017-08-03 13:10] daniffig commented on #73
I think that's a great proposal.

I've developed a custom server plugin for Symfony 1.4 in the past using JSON API v0.9 definitions, and when the API usage grows the need of complex filters does it too. Clauses like >, <, LIKE, BETWEEN are a must-have, you just can't avoid them if your resource represents large collections. Since JSON API allows to use the reserved word 'filter' as you please, we

[2017-08-14 21:39] ychaker opened #74 "Support for page_count in response meta field"
Howdy,
first I'd like to thank you for your good work.

jsonapi-resources have a config to show both the record count and the page count. it would be nice to be able to support both, and the flexibility of choosing the key name:

[code]

the line I found useful in the original gem is the following:

https://github.com/cerebris/jsonapi-resources/blob/0eaa40c509a21e2d4cf02a52e6139fe30465260b/lib/jso

[2017-08-15 13:28] tiagopog commented on #74
Howdy, @ychaker!

Good catch! I would bring that simple feature to the gem but I'm totally out of time lately. Can you provide a PR with that implementation + specs?

Cheers!

[2017-08-15 13:36] ychaker commented on #74
@tiagopog should I match what `jsonapi-resources` does, ie support the same configurations and make the implementation copy theirs, or would my simple hack suffice?

and are you aware of any other potential parts of the code that would need to be update accordingly?

[2017-08-15 13:57] tiagopog commented on #74
I see no problem on implementing this simpler version now. So you can stick with your hack since it achieves the expected results (specs will ensure that).

Implementing this page count on the formatter level, as you proposed on your hack, will spread the feature across the renders, so that the collection rendering should display it out of the box.

[2017-08-15 18:17] santostiago opened #75 "Is there a way to deactivate the JSON API validation for an action?"
I want all my actions except for `#create` to use JSON API.
The action `create` has too many relationships and becomes cumbersome in the JSON API format. Is there a way to deactivate the validations just for one action?

[2017-08-23 03:16] tiagopog commented on #75
Hey there, @santostiago. Sorry for the long delay to answer you, it's been really busy days here.

Yeah, if you really want to avoid conforming that endpoint to JSON:API you can actually skip the method called on the [controller's `before_action`](https://github.com/tiagopog/jsonapi-utils/blob/master/lib/jsonapi/utils.rb#L18):

[code]

[2017-08-23 03:19] tiagopog commented on #74
@ychaker, are you still considering to implement this feature?

[2017-08-29 02:56] ychaker commented on #74
hi @tiagopog I was on vacation last week.
I might take a stab at it later this week if you're still interested and haven't already done so yourself.

[2017-08-29 14:23] tiagopog commented on #74
I'm interested for sure :-)

[2017-09-10 15:22] #75 closed

[2017-10-24 18:32] jasonjho opened #77 "Support for operation processors?"
@tiagopog Is there a way to use `jsonapi-authorization`, which plugs into JR as a custom operation processor? Based on the JR controller logic here (https://github.com/cerebris/jsonapi-resources/blob/master/lib/jsonapi/acts_as_resource_controller.rb#L78), there seems to be some logic around how these processors are invoked -- but `jsonapi-utils` seems to be overriding this functionality, if I unde

[2017-11-06 23:32] supremebeing7 commented on #66
Finally got around to picking at this. I made some progress, but am running into an issue with
[code]
because [that config option is not available on JSONAPI](https://github.com/cerebris/jsonapi-resources/blob/master/lib/jsonapi/configuration.rb).

I can create a configuration class in this gem but I don't like the idea of having two different configurations to keep track of - one for `JSONAPI` an

[2017-11-08 14:43] tiagopog commented on #77
Sorry for the long delay on answering you, @jasonjho. I hope to bring something still useful for you.

I went through the gem's code/documentation and saw that it works by defining a default processor as you pointed. Since JU overrides the [`#process_request`](https://github.com/tiagopog/jsonapi-utils/blob/master/lib/jsonapi/utils/request.rb#L40-L49) method only for avoiding bugs with [duplicate r

[2017-11-26 02:21] adambedford commented on #19
@tiagopog Are you saying that includes should "just work" then? i.e. if I have `jsonapi_render json: @resource` and there are include directives in the `params`, it'll return them?

[2017-11-27 16:21] tiagopog commented on #19
@adambedford yes, this should work properly.

So if you want a relationship to be included by default for a given controller action you could call a `before_action` callback on that action merging then the required default related resource to `params[:included]`.

Try something like that:

[code]

[2017-12-08 17:40] giovannibonetti opened #78 "Rendering scopes with `includes` is slow for no reason"
We have in our codebase something like this:
[code]

We use `includes` to eager load associations and avoid the N+1 query problem.
However, the _record_count_ _query_ becomes very slow since there is now a `LEFT OUTER JOIN` for each eager loded association:

[code]

I suppose a simple fix could be done by changing [this line](https://github.com/tiagopog/jsonapi-utils/blob/master/lib/jsonapi/utils/

[2017-12-08 23:11] tiagopog commented on #78
Sure, I will work on a patch version bringing this improvement for both series `0.5` and `0.4`.  Thanks for reporting 👍

[2017-12-11 22:55] KidA001 opened #79 "Passing resource relationship in POST request"
I have two models that we'd like to be created in the same request.

*Resource*
[code]

*POST Request*
[code]

When I make the POST request I get the following error even though I have linked project with `has_one :project`
[code]

What am I not understanding?

[2017-12-17 15:19] tiagopog commented on #79
Hey there, @KidA001!

It's happening because you didn't defined `projects` as a relationship of `project_toolbox_talks`. Then you just need to add the following line to `ProjectToolboxTalkResource `:

[code]

It's worth to mention that you may get in trouble trying to add `project_toolbox_talk_users` since `attributes` are not allowed for the [`relationship` member](http://jsonapi.org/format/#docu

[2018-01-02 20:10] seanabrahams commented on #65
@tiagopog I'd like to revisit this issue as I'm currently experiencing it while looking into using `jsonapi-utils` for a project. In the README you have an example response for a nested resource (https://github.com/tiagopog/jsonapi-utils#nested-resources)

Request:
[code]
Response:
[code]

Note that the `response.dig("data", 0, "links", "self")` points to `http://api.myblog.com/posts/1` whereas we

[2018-01-03 01:18] seanabrahams opened #80 "`resource_params` => NoMethodError: undefined method `keys` for nil:NilClass"
I have a nested resource where the `index` action has a code path that executes `resource_params` which ends up producing:

[code]

Due to:
[code]
https://github.com/tiagopog/jsonapi-utils/blob/master/lib/jsonapi/utils/request.rb#L81

`@request.operations` contains:

[code]

Which does not include a `:data` key, hence the resulting exception.

One option is to update the offending piece of code to

[2018-01-06 01:22] tiagopog commented on #65
I think it's definitely worth revisiting it, @seanabrahams. Since I'm currently working on a few improvements for the gem I may come up with a solution for this issue soon.

[2018-01-06 01:52] tiagopog commented on #80
Making this helper method safe seems like a good idea for me and I will sure work on a refactoring asap.

Anyway, I'm curious on how you came to reach that error. Since `:data` is not present for the given operation and it probably requires the JSON body to be present (eg. `POST`, `PUT`, `PATCH` request), if an empty/bad formatted body is passed it should be [verified and treated](https://github.c

[2018-01-08 22:03] seanabrahams commented on #80
It was via a request like `GET /profile/:profile_id/articles` where it was looking for a `profile_id` in `params[:profile_id]` OR `resource_params[:profile_id]`.

The question then is, why look in `resource_params[:profile_id]` if it's a `GET` request? The answer is that I'm trying to keep the code DRY and avoid a conditional like `if request.get?`.

Ultimately, calling `resource_params`, even on

[2018-01-15 12:01] #78 closed

[2018-01-15 12:04] tiagopog commented on #78
The update that fixes this issue was first packed in `v0.7.1` but I'm still going to release it for `v0.4.x`.

[2018-01-17 18:00] tiagopog opened #82 "Render multiple invalid AR objets"
Currently there's no support to render multiple invalid AR objects like this:

[code]

[2018-01-22 17:43] jsmestad commented on #77
@tiagopog thanks for putting this together! It would be great to get some docs in the README about how to use jsonapi-authorization with JU

[2018-02-02 01:12] tiagopog opened #83 "Bring support to fast_jsonapi"
Netflix recently released a blazing fast [JSON:API](http://jsonapi.org) serializer which seems to be a very suitable choice for  `jsonapi-utils`.

Although it will require a deep change in the JU's structure, the perfomance gains for serialization are quite impressive:

<img title="Difference in performance" width="500" src="https://cdn-images-1.medium.com/max/800/1*3ZLHzQ0cSJxwa3gyviq53A.png" />

[2018-02-17 17:56] GCorbel commented on #83
It would be awesome ! I hope perf will be improve as they said.

[2018-02-17 18:11] GCorbel opened #84 "Use the cache with jsonapi_render."
I noticed than this doesn't use the cache :

[code]

But this does :

[code]

Is there a way to use the cache for both? Should I cache records myself? It can be useful to have this "built-in".

[2018-02-19 01:48] tiagopog commented on #84
Yes, initially the idea was to let the cache implementation to be a developer's choice. But I will reconsider this point since caching usually is not related to the app's business logic.

Thanks for the feedback :-)

[2018-02-19 14:28] wholistictech opened #85 "Getting Invalid resource for custom resource response on patch request"
I am able to override the resource type in the response with

[code]
However on a patch request, i get
[code]

[2018-03-15 11:39] kgathi2 commented on #73
I needed to filter by multiple values.  i added a the following before filter in my controller. The values are pipe separated or comma separated in that order, so if my filter values might have commas in them, i user pipe instead.
[code]

[2018-03-15 20:27] adambedford opened #86 "Non-REST actions?"
I'm trying to use JSONAPI Utils for a non-RESTful endpoint `users/invite` and would like to be able to use the `resource_params` and `relationship_params` helpers, however they're both returning `{}` because `@request.operations` is empty. Is there any guidance on how to approach this?

[2018-04-19 21:11] phantomphildius commented on #74
@tiagopog Would you need help merging the associated PR at all?

[2018-04-21 16:42] tiagopog commented on #74
Closed by #87

[2018-04-21 16:42] #74 closed

[2018-05-30 18:11] melriffe opened #89 "JSONAPI::Utils::Exceptions::BadRequest undefined"
Howdy!

I'm using the following gems:
* jsonapi-resources (0.9.0)
* jsonapi-utils (0.7.2)

I recently started using this gem and have found it quite useful. Thanks. However I tried to use ```jsonapi_render_bad_request``` and I got the following error:

[code]

It looks like the original refactoring to split up the exceptions into separate files resulted in BadRequest getting skipped/forgotten.

It

[2018-06-29 21:50] g13ydson commented on #83
Hello @tiagopog , have you started this change? I found this gem very cool and I'm thinking of modifying it to support fast_json_api

[2018-06-30 17:01] tiagopog commented on #83
Hey there, @g13ydson. I haven't started working on this feature yet but I'm really excited to do or to guide someone on doing so though.

It will require major changes on the gem's design, but if you're in we can't start defining its new architecture.

[2018-08-23 11:11] grk opened #93 "Relax jsonapi-resources dependency"
jsonapi-resources version is now locked to 0.9.0. 0.9.2 has been recently released, but can't be used with jsonapi-utils.

[2018-09-18 18:07] jsmestad commented on #93
@grk I put up a patch for this in PR #88

[2018-09-20 15:05] tiagopog commented on #93
Hi there. Firstly, sorry for the long delay on answering you guys (parenting thing here).

@jsmestad thanks for the previous PR. Unfortunately I was struggling to find some free time on the past couple of months and when I had it I got focused on the higher priority tasks for the OSS projects I'm involved. Now that things on my day-to-day basis are becoming a bit lighter, I'm planning to have some

[2018-09-22 22:18] jsmestad commented on #93
@tiagopog You can give PR #88 a try, but as I mentioned above I was unable to figure out what changes JSONAPI::Resources made internally that triggers the new `undefined method 'include_directives' for {}:Hash` error and had to roll back.

[2018-11-14 02:37] aliaksandrb commented on #65
Bumping the tread, as we are also affected by that inconsistent behavior :/

How much work it would require to fix it on at gem side? Probably might help a bit.

[2018-11-14 19:07] aliaksandrb commented on #65
Looks like a daunting task, related issues from jsonapi-resources repo:
- https://github.com/cerebris/jsonapi-resources/issues/970
- https://github.com/cerebris/jsonapi-resources/issues/542

[2019-02-04 23:08] RoM4iK opened #95 "Support for sorting and pagination from JR"
Since https://github.com/cerebris/jsonapi-resources/releases/tag/v0.9.4 JR allows to filter records on nested relationship values while JU allows filtering only by `where` condition.

Are there any reasons why you decided to rewrite filter/sort/pagination workflow?

I've played a little with monkey patching, and looks like using filters from JR is possible.

Here is my code, it's working within my

[2019-02-14 02:14] adambedford opened #96 "jsonapi/utils.rb:9:in `include': wrong number of arguments (given 0, expected 1+) (ArgumentError)"
Line 9 of `jsonapi/utils.rb` uses `include` when I think what's really intended is `included`. This of course is causing things to blow up.

Update: Realized I'm on `v0.4.2`, which obviously is quite outdated, but I think the reason is that I'm using `jsonapi-resources` `v0.9.5` and later versions of this gem have strict dependencies on `v0.9.0` at the most.

#94 and #93 apply here

[2019-02-25 16:42] #96 closed

[2019-03-13 10:46] kamk opened #97 "Formatting of error's "detail" attribute"
If [rails-i18n](https://github.com/svenfuchs/rails-i18n) gem is used, the formatting of _detail_ member of error object
https://github.com/tiagopog/jsonapi-utils/blob/a2c2b0e3843376718929723d9f609611f68b665e/lib/jsonapi/utils/exceptions/active_record.rb#L151

should reflect locale's configuration:

[code]

[2019-03-21 16:32] krasnoukhov opened #99 "Accept and Content-Type headers are not verified"
The issue was introduced in this commit: https://github.com/cerebris/jsonapi-resources/commit/05f873c284f3c084b32140ffdae975667df011fb

Basically jsonapi-resources switched from the `before_action` to manually calling the header verification method(s). But jsonapi-utils does not do that at the moment, which violates the spec.

This can be verified easily by applying this diff:

[code]

And running

[2019-05-25 11:56] BatuhanW commented on #83
@tiagopog Is there any update about this? I would like to work on this one.

[2019-06-13 14:03] #93 closed

[2019-06-13 14:17] tiagopog commented on #83
@BatuhanW Sorry for the delay on answering you. I'm had a period of absence here due to some personal issues, but I'm getting back on track with the gem.

So far, there's no implementation (on my side) regarding this support to `fast_jsonapi`, but I really want to go ahead with it and would love to have someone from the community working on it.

So, let's do it?

[2019-07-18 19:21] copasetickid commented on #83
@tiagopog  are you still looking for help from the community to work on this feature?

I'd like to help as  I'm currently using Netflix's `fast_jsonapi` for serialization in a project but I would use this instead because this gem provides support for request validation and params helpers built-in.

[2019-07-20 23:19] tiagopog commented on #83
Hey, @copasetickid. Yes, I'm still looking for someone willing to bring support for this feature. Let me know if you want to do so and if you need any help to start working on that :-)

[2019-07-21 03:19] copasetickid commented on #83
Hi @tiagopog  yes, I would like to help with this effort. Does your offer still stand to help guide someone on doing so though? I'm happy to get started if you already had a plan in mind

[2019-07-25 14:17] tiagopog commented on #83
@copasetickid I haven't work on a plan for that yet. Actually, the last iterations I had here were all regarding minor fixes and improvements. Since I will be done with a huge private project next week,  I'm planning to get back and work on some of open issues/PRs from this gem.

For this one, specifically, we can start understanding where we can take advantage of `fast_jsonapi`'s features and whi

[2019-10-30 15:29] jklimke commented on #59
Hi, i know this question was not addressed for some time, but the final version of 0.10 of jsonapi resources has been released. any plans to adapt json api utils for that ?

[2019-11-10 20:05] adambedford opened #102 "Trying to override pagination..."
I'm overriding the `index` action on one of my API endpoints to support searching with Elasticsearch and I need to also paginate with ES but I'm running into an issue. On page 2 (and likely 3,4, etc), `jsonapi_render` returns an empty dataset even though the collection passed to it contains records. I have a suspicion this is related to pagination - perhaps JR or JU is expecting the collection pas

[2020-03-02 14:50] danieldocki commented on #59
any updates about this? at least for version [0.9.11](https://github.com/cerebris/jsonapi-resources/releases/tag/v0.9.11)

[2020-04-13 17:24] tiagopog commented on #59
@danieldocki, I will be merging the support for v0.9.11 late today.

[2020-04-27 01:32] tiagopog commented on #59
JU [0.7.3](https://github.com/tiagopog/jsonapi-utils/releases/tag/v0.7.3) is released with support to JR [0.9.11](https://github.com/cerebris/jsonapi-resources/releases/tag/v0.9.11). This week I will be preparing the 0.8.x with support to JR 0.10.x.

[2020-07-15 15:26] sandric opened #106 "Decimals formatted as strings in json response"
Strangely, all my active record models that have float field column type - converted to json as strings, like `"17.77"`. I checked in default rails non-jsonapi controller, `as_json` on same model instance returns json with float numbers, so I believe the issue is in `jsonapi_format`.

[2020-09-03 16:53] aliaksandrb commented on #73
But JR supports custom filters on the resource level, using apply/verify. Current behavior of this gem is doubtful, as it supports "some" filters from JR, but not all of them. And it forces to implement filters in other place, spreading such logic across the project. I wish I'd noticed it before :/

[2020-09-09 20:56] benoror commented on #59
Hi @tiagopog, thanks for your work 😄 ! Do we know if there are breaking changes with latest [JR v0.10.2 ](https://github.com/cerebris/jsonapi-resources/releases/tag/v0.10.2)? Thinking about forcing it to latest

[2020-11-11 12:56] jklimke commented on #59
@benoror did you proceed with just updating to jsonapi resources 0.10 ?

[2020-11-11 14:58] benoror commented on #59
we did, but we end up using bare JR instead

[2021-05-11 21:15] danieldocki opened #109 "Update jsonapi-resources 0.9.12"
@tiagopog can update the dependency? jsonapi-resources ~> 0.9.12

solves the error in Rails 6.1
[code]

https://github.com/cerebris/jsonapi-resources/blob/v0.9.12/lib/jsonapi/resource_controller_metal.rb#L8

[2021-05-28 17:01] gianniderosa commented on #109
Having the same issue on my end

[2021-08-19 17:10] kceb commented on #77
@tiagopog I'm finding that I need an operation processor for other reasons. Is there support for it?

https://jsonapi-resources.com/v0.9/guide/operation_processors.html

[2021-08-24 22:49] asadakbarml commented on #109
@tiagopog Will you be updating this gem? It would be really helpful to know as we want to use it...

[2021-10-09 11:50] tiagopog commented on #109
@danieldocki It's updated in the master branch. I will first make sure that everything is working smoothly then I will release a new version of the gem.

[2021-10-21 20:57] danieldocki commented on #109
Thanks for the great job, but I caught this error.

[code]

I don't know if anyone else caught this error, but over the weekend I can look deeper into this error.

[2022-01-21 13:31] danielgomezrico commented on #109
This is pretty important to keep the library updated and allow everyone using it to update rails, how can we update this?

Also the main library now is at `0.10.2` with a lot of fixes :(

[2022-02-25 23:40] hennii commented on #109
Yep this library is broken currently -- PRs for upgrading support to the jsonapi-resources past 0.9.11 have not addressed the fact that 0.9.12 refactored away a class [which is being called from current version](https://github.com/tiagopog/jsonapi-utils/blob/1c139822a10e8203b9f67fa3b06cbb1eafb50529/lib/jsonapi/utils/response/formatters.rb#L103) (`JSONAPI::OperationResults)`

[2022-03-21 18:07] JohnnyHandy commented on #109
Any news on this? I am having trouble using jsonapi-resources at version 0.10 and jsonapi-utils 0.4.2 because it is the only version that bundle allows to install

[2022-04-11 12:32] idanab-simplee commented on #109
it seems that this gem is no longer maintained. anyone here had the chance to refactor the code to use another solution? For example, to use [jsonapi-serializer](https://github.com/jsonapi-serializer/jsonapi-serializer) ?

[2022-04-29 13:23] Babar-Livestorm opened #113 "Bump the rails version to 6.1 for tagged version 7.13.0"
You can find the forked version of the gem [here](https://github.com/livestorm/jsonapi-utils), I am not able to create a pull request for some reason, can you please take a look at it.

[2022-08-19 12:52] danielgomezrico commented on #113
@Babar-Livestorm maybe it is because you added the commits into master?

You need to:
1. Create a branch from master
2. Add your commits
3. Create a PR here with that

[2022-08-19 13:01] danielgomezrico opened #114 "Release a new version?"
HI

I see that there are a lot of commits but the version on gemfile repository does not include those:

# Commits not released
![image](https://user-images.githubusercontent.com/76348/185623803-1ad059be-1270-4ac9-a357-c5d41eef48cf.png)

# Latest release
![image](https://user-images.githubusercontent.com/76348/185623940-aa91c9f8-fc80-49d0-a182-0e61f0182a8c.png)

# Expected
Create a new version wit

[2022-08-19 13:02] danielgomezrico commented on #109
It is already updated, but it is not released on gem repository, check:
- https://github.com/tiagopog/jsonapi-utils/issues/114